# Ignore all .DS_Store files
.DS_Store

# Ignore settings file
.vscode/settings.json

#ignore pycache
__pycache__/

# Ignore all venv files in all directories
**/venv/**

# Ignore all chromadb files
chromadb/**